{{- $u := urls.Parse .Destination -}}
{{- $href := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}

  {{- /* First, try to get from current page's resources */ -}}
  {{- with .Page.Resources.GetMatch $path -}}
    {{- $href = .RelPermalink -}}
  {{- else -}}
    {{- /* If not found in page resources, check for sibling directories 'images' or 'res' */ -}}
    {{- if eq (path.Dir $path) "images" -}}
      {{- $href = printf "../images/%s" (path.Base $path) -}}
    {{- else if eq (path.Dir $path) "res" -}}
      {{- $href = printf "../res/%s" (path.Base $path) -}}
    {{- else -}}
      {{- /* For other relative paths, keep them as-is */ -}}
      {{- $href = $path -}}
    {{- end -}}
  {{- end -}}

  {{- with $u.RawQuery -}}
    {{- $href = printf "%s?%s" $href . -}}
  {{- end -}}
  {{- with $u.Fragment -}}
    {{- $href = printf "%s#%s" $href . -}}
  {{- end -}}
{{- end -}}

{{- $attributes := merge .Attributes (dict "href" $href) -}}
{{- if .Title -}}
  {{- $attributes = merge $attributes (dict "title" (.Title | transform.HTMLEscape)) -}}
{{- end -}}
<a
  {{- range $k, $v := $attributes -}}
    {{- if $v -}}
      {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
    {{- end -}}
  {{- end -}}
  >{{ .Text }}</a>